.App {
  text-align: center;
}

header {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #008080;
  color: white;
}

header .logo h3 {
  font-size: 30px;
  margin: 0px;
}

nav ul {
  margin: 0px;
  padding: 0px;
}

nav ul li {
  margin-right: 30px;
  list-style: none;
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.2s;
}

nav ul li a:hover {
  color: rgb(114, 114, 114);
}

.itinerary-top {
  background-color: #008080;
  height: 50px;
  padding-top: 0px;
  margin-top: 0px;
  display: flex;
  align-items: center;
}

.itinerary-title {
  color: white;
  margin: 0px 20px 0px 20px;
}

.btn {
  background-color: #008080; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  border-radius: 8px;
}

.btn-bd-primary {
  --bs-btn-color: var(--bs-white);
}

.App-link {
  color: #61dafb;
}
