.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.itinerary-top {
  background-color: #008080;
  height: 50px;
  padding-top: 0px;
  margin-top: 0px;
  display: flex;
  align-items: center;
}

.itinerary-title {
  color: white;
  margin: 0px 20px 0px 20px;
}

.btn {
  background-color: #008080; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  margin: 10px 0px 0px 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
